* {margin: 0; padding: 0;}

.header {
    width: 100vw; height: 80px; 
}
.header .logo .logo-box{
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo>div {
    display: flex;
    align-items: center;
}
.header .logo h1{font-size: 28px;}
.header .logo .logo-right {display: flex; justify-content: center; height: 40px;}
.header .logo .logo-right>div {
    display: flex; justify-content: center; align-items: center;
    font-size: 8px; margin: 5px;
    max-height: 50px;
}
.header .logo .logo-right i {color: #79acd1; margin: 2px;}
.header .logo .logo-right button {
    font-size: 8px;
    background-color: #79acd1; color: white; border: none;
    width: 70px; height: 30px; margin: 5px; padding: 0px;
}

.header .menu {
    height: 40px;
    background-color: #111111;
}
.header .menu .menu-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu .menu-box ul {
    height: 100%;
    list-style: none;
    display: flex;
}
.header .menu .menu-box ul li {
    cursor: pointer;
    position: relative;
    transform: translateX(-10px);
    height: 100%;
    padding: 0 10px;
    color: #999999;
    line-height: 40px;
    z-index: 100;
}
.header .menu .menu-box>ul>.bigmenu:first-child {
    color: #ffffff;
}
.header .menu .menu-box ul li .submenu {
    position: absolute; left: 0px;
    display: none;  z-index: 90;
    height: auto;
}
.header .menu .menu-box ul li .submenu li {
    cursor: pointer;
    color: #333333; 
    background-color:aliceblue;
    text-align: center;
    line-height: 30px;
    height: 30px;
}
.header .menu .menu-box .icon-list>i {color: #999999;}
.header .menu .menu-box>i {color: #999999; display: none;}

.header .menu .menu-box ul li:hover {color: white; background-color: #333333;}
.header .menu .menu-box ul li:hover .submenu {display: block;}
.header .menu .menu-box ul li .submenu li:hover {color:#3B719F;}
.header .menu .menu-box .icon-list>i:hover {color: #000000;}
.header .menu .menu-box i:hover {color: white;}


.nav {
    position: relative;
    width: 100%; height: 400px; z-index: 1;
}
.nav .mySwiper {
    height: 400px;
}
.nav .swiper-slide {
    width: 100%; height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .s1 {
    background-image: url('../img/laptop.jpg');
    background-size: cover;
    background-position: left bottom;
}
.nav .s2 {
    background-image: url('../img/view.jpg');
    background-size: cover;
    background-position: left bottom;
}
.nav .s3 {
    background-image: url('../img/communicate.jpg');
    background-size: cover;
    background-position: center;
}
.nav .swiper-slide>div {
    width: 80%; height: 80%;
    display: flex; flex-direction: column; justify-content: center;
}
.nav .swiper-slide h1 {
    font-size: 40px; margin-bottom: 5px;
    text-shadow: 2px 2px 4px #333333;
}
.nav .swiper-slide h2 {
    font-size: 20px;
    text-shadow: 2px 2px 2px #333333;
    margin-bottom: 30px;
}
.nav .swiper-slide button {
    cursor: pointer;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    width: 100px; height: 50px;
}
.swiper-slide-active h1 {animation: text_slide_down 1s;}
.swiper-slide-active h2 {animation: text_slide_right 1s;}
.swiper-slide-active button {animation: fade_in 1s;}

.grid-section h1 {font-size: 30px;}
.grid-section .grid-wrapper {
    display: grid; margin: 7vw auto;
    width: 100%; height: 25vw;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}
.grid-section .grid-box {
    position: relative;
    border: 5px solid #9999bb;
}
.grid-section .grid-box:hover {
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 5px #79acd1;
    cursor: pointer;
}
.grid-section .grid-wrapper i {
    position: absolute;
    left: 0; top: 25%; left: 5%;
    color: #3B719F;
}
.grid-section .grid-wrapper .text-box {
    position: absolute; left: 30%; height: 100%; width: 70%;
}
.grid-section .grid-wrapper .text-box h2 { 
    position: absolute;
    font-size: 2vw; top: 15%;
    padding-right: 5px;
}
.grid-section .grid-wrapper .text-box p {
    position: absolute;
    font-size: 1vw; top: 50%;
    padding-right: 5px;
}

.exp {
    width: 100vw; height: 400px;
    background-image: url('../img/left_dev.jpg');
    background-size: cover;
    background-position: left top;
    margin: 30px 0 30px 0;
    display: flex; justify-content: right; align-items: center;
}
.exp>div {
    width: 450px; color: white; margin-right: 10%;
}
.exp h1 {
    font-size: 30px; margin-bottom: 15px;
    text-shadow: 2px 2px 4px #333333;
}
.exp h2 {
    font-size: 15px;
    text-shadow: 2px 2px 2px #333333;
    margin-bottom: 30px;
}

.tab-section {
    display: flex block; width: 90%;
    margin: 0 auto 50px auto;
    justify-content: center;
    align-items: center;
}
.tab-section img {width: 40%; height: auto;}
.tab-section .text-box {
    padding: 50px; width: 50%;
}
.tab-section .text-box h2 {
    font-size: 28px; margin-bottom: 15px;
}
.tab-section .text-box .ani-box {
    display: flex inline;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tab-section .box-link {min-width: 125px;}
.tab-section .box-link p {
    font-size: 15px; transition: 0.3s;
    margin-bottom: 3px;
}
.tab-section .box-link>div {
    width: 100%; height: 2px;
    overflow: hidden;
    margin-bottom: 10px;
}
.tab-section .box-link>div>div {
    width: 100%; height: 2px; background-color: #0e37cc;
    transition: 0.3s;
    transform: translateX(-100%);
}
.tab-section .box-link:hover>div>div {
    transform: translateX(0%);
    transition: 0.3s;
}
.tab-section .box-link:hover>p {
    color: #0e37cc;
}
.tab-section .btn-box {
    display: flex;
}
.tab-section button {
    box-sizing: border-box;
    width: 85px; height: 40px;
    margin-right: 8px;
    cursor: pointer;
}
.tab-section #btn1 {background-color: #0e37cc; color: white; border-color: #0e37cc;}
.tab-section #btn2 {background-color: white; color: #0e37cc; border-color: #0e37cc;}
.tab-section .text-box>p {
    min-height: 150px; margin-bottom: 20px; font-size: 15px;
}

.footer {
    width: 100%; height: 40px;
    background-color: #999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul {
    list-style: none;
    display: flex;
}
.footer ul li {
    padding: 10px;
    color: #bbbbbb;
    font-size: 15px;
}
.footer p {
    font-size: 12px;
    color: #bbbbbb;
    padding-right: 25px;
}

.on {color: #0e37cc;}
.on-back {background-color: #0e37cc;}
.off-back {background-color: #aaaaaa;}
.inner {width: 80%; margin: 0 auto;}

@keyframes text_slide_down {
    0% {transform: translateY(-50%); opacity: 0;}
    100% {transform: transltaeY(0%); opacity: 1;}
}
@keyframes text_slide_right {
    0% {transform: translateX(-20%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}
@keyframes fade_in {0% {opacity: 0;} 100% {opacity: 1;}}

@media (max-width: 800px) {

    .grid-section {width: 600px;}
    .grid-section .grid-wrapper {
        height: 405px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .grid-section .grid-wrapper .text-box h2 {font-size: 20px;}
    .grid-section .grid-wrapper .text-box p {font-size: 10px;}

    .exp {margin-bottom: 30px;}

    .tab-section img {display: none;}
    .tab-section {justify-content: left;}
}
@media (max-width: 600px) {

    .header .logo h1 {font-size: 20px;}
    .header .logo .logo-box {padding: 0;}
    .header .logo .logo-right>div {font-size: 8px; margin: 2px; max-width: 72px;}
    .header .logo .logo-right button {margin: 5px;}

    .header .menu ul li {padding: 5px; font-size: 12px;}

    .grid-section {width: 230px; margin-bottom: 20px;}
    .grid-section .grid-wrapper {
        width: 230px; height: 800px;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
    

    .nav h2 {font-size: 12px;}

    .exp {display: none;}
    
    .tab-section .text-box {padding: 4px; width: 100%;}
    .tab-section .box-link p {font-size: 12px;}
    .tab-section .text-box>p {font-size: 9px; min-height: 75px;}
    .tab-section .box-link {min-width: 100px;}

    .footer ul li {font-size: 8px; padding: 5px;}
    .footer p {font-size: 6px;}

    .inner {width: 90%;}
}