/* font */
@font-face {
  font-family: "Jua";
  src: url("../../font/Jua/Jua-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto";
  src: url("../../font/Noto_Sans_KR/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: "Pacifico";
  src: url("../../font/Pacifico/Pacifico-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* tracking menu nav */
.tracking-nav {
  position: fixed;
  left: -10vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
.tracking-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
  overflow: hidden;
}
.tracking-nav ul li {
  cursor: pointer;
  color: white;
  text-align: center;
  width: 7vw;
  min-width: 30px;
  max-width: 100px;
  height: 5vw;
  min-height: 15px;
  max-height: 75px;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.tracking-nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* header section */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
}
/* header upper nav */
.header .header-nav {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-nav h1 {
  margin: 10px;
  font-family: "Pacifico";
  font-size: 5vw;
  text-shadow: 0px 0px 4px #333333;
}
.header .header-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 4px #333333;
}
.header .header-nav ul li {
  cursor: pointer;
  font-size: 1.5vw;
  padding: 1vw 1.5vw;
}
.header .menu-btn {
  position: absolute;
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  text-shadow: 0px 0px 4px #333333;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0.5vw solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 200px;
  height: 100px;
  z-index: 1000;
}
.header .menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* header slider */
.header .hSwiper {
  width: 100%;
  height: 100%;
  font-family: "Jua";
  z-index: 10;
}
.header .hSwiper .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-size: cover;
  background-position: center;
}
.header .hSwiper .swiper-slide h2 {
  cursor: pointer;
  font-size: 5vw;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px #333333;
}
.header .hSwiper .swiper-slide h3 {
  cursor: pointer;
  font-size: 2vw;
  text-shadow: 2px 2px 2px #333333;
  margin-bottom: 30px;
}
.header .hSwiper .swiper-slide-active h2 {
  animation: text_slide_down 0.8s;
}
.header .hSwiper .swiper-slide-active h3 {
  animation: text_slide_right 0.8s;
}
.header .hSwiper .swiper-slide > div {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.header .hSwiper .s1 {
  background-image: url("../img/slide1.jpg");
}
.header .hSwiper .s2 {
  background-image: url("../img/slide2.jpg");
}
.header .hSwiper .s3 {
  background-image: url("../img/slide3.jpg");
}
.header .hSwiper .s4 {
  background-image: url("../img/slide4.jpg");
}

/* intro section */
.intro {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.intro .text-box {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.intro .text-box h2 {
  font-family: "Pacifico";
  font-size: 10vw;
}
.intro .text-box .p-box {
  font-family: "Noto";
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro .text-box .p-box h3 {
  font-size: 2.3vw;
  margin: 3vw 0;
}
.intro .text-box .p-box p {
  font-size: 2vw;
  margin: 3vw 0;
}
#scroll2 {
  width: 100%;
  height: 10vw;
}

/* menu section */
.menu-section {
  position: relative;
  width: 100%;
  background-color: antiquewhite;
}
.menu-section .h2-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.menu-section .h2-box h2 {
  font-family: "Jua";
  font-size: 10vw;
  color: #333333;
}
/* menu slider (recommand) */
.menu-section .menu-slider-box {
  position: relative;
  width: 100%;
  height: 40vw;
}
.menu-section .menu-slider-box .menu-slider-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/ba2.jpg);
  opacity: 0.3;
  background-size: cover;
  background-position: center;
}
.menu-section .menu-slider {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.menu-section .menu-slider .mSwiper {
  padding: 10px;
}
.menu-section .menu-slider .mSwiper .swiper-slide {
  cursor: pointer;
  height: 20vw;
  color: white;
  background-size: cover;
  background-position: center;
  border-radius: 3vw;
  box-shadow: 5px 5px 5px 5px #999999;
}
.menu-section .menu-slider .mSwiper .s1 {
  background-image: url("../img/m_apple-pie-5479993_640.jpg");
}
.menu-section .menu-slider .mSwiper .s2 {
  background-image: url("../img/m_asparagus-2169305_640.jpg");
}
.menu-section .menu-slider .mSwiper .s3 {
  background-image: url("../img/m_chocolate-2554_640.jpg");
}
.menu-section .menu-slider .mSwiper .s4 {
  background-image: url("../img/m_hamburger-494706_640.jpg");
}
.menu-section .menu-slider .mSwiper .s5 {
  background-image: url("../img/m_ice-cream-5928048_640.jpg");
}
.menu-section .menu-slider .mSwiper .s6 {
  background-image: url("../img/m_pancakes-2291908_640.jpg");
}
.menu-section .menu-slider .mSwiper .s7 {
  background-image: url("../img/m_tomatoes-1887240_640.jpg");
}
.menu-section .menu-slider .mSwiper .s8 {
  background-image: url("../img/m_toast-6011147_640.jpg");
}
.menu-section .menu-slider .mSwiper .s9 {
  background-image: url("../img/m_pasta-3547078_640.jpg");
}
/* menu box  */
.menu-wrapper {
  position: relative;
  font-family: "Jua";
  width: 100%;
  height: 45vw;
}
.menu-wrapper .inner-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.menu-wrapper .inner-right {
  right: 5%;
}
.menu-wrapper .inner-left {
  left: 10%;
}
.menu-wrapper .inner-box h2 {
  text-align: center;
  margin-bottom: 2vw;
  font-size: 5vw;
}
.menu-wrapper .inner-box .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-wrapper .inner-box .menu .container {
  display: grid;
  gap: 4vw 4vw;
  grid-template-columns: repeat(3, 22vw);
  grid-template-rows: repeat(1, 32vw);
}
.menu-wrapper .inner-box .menu .container .item {
  cursor: pointer;
  background-color: white;
  border-radius: 3vw;
  overflow: hidden;
}
.menu-wrapper .inner-box .menu .container .item .food-img {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center center;
}
.menu-wrapper .inner-box .menu .container .item .text-box {
  font-family: "Jua";
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu-wrapper .inner-box .menu .container .item .text-box h3 {
  font-size: 2.3vw;
}
.menu-wrapper .inner-box .menu .container .item .text-box h3 br {
  display: none;
}
.menu-wrapper .inner-box .menu .container .item .text-box p {
  font-size: 1.7vw;
}
.menu-wrapper .img1 {
  background-image: url("../img/bburingkle.png");
}
.menu-wrapper .img2 {
  background-image: url("../img/goldenOlive.png");
}
.menu-wrapper .img3 {
  background-image: url("../img/HoneyCombo.png");
}
.menu-wrapper .img4 {
  background-image: url("../img/LotteShrimp.png");
}
.menu-wrapper .img5 {
  background-image: url("../img/MacBull.png");
}
.menu-wrapper .img6 {
  background-image: url("../img/KingWhopper.png");
}
.menu-wrapper .img7 {
  background-image: url("../img/Jjajang.jpg");
}
.menu-wrapper .img8 {
  background-image: url("../img/Jjambbong.jpg");
}
.menu-wrapper .img9 {
  background-image: url("../img/Bokkeum.jpg");
}

/* info section */
.info-section {
  font-family: "Noto";
  width: 85%;
  /* height: 500px; */
  margin: 6vw;
  border-radius: 5vw;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}
.info-section h2 {
  font-size: 4vw;
  margin-bottom: 5vw;
  color: #333333;
}
.info-section .container {
  display: grid;
  gap: 4vw 4vw;
  grid-template-columns: repeat(2, 35vw);
  grid-template-rows: repeat(3);
}
.info-section .container .item {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f17f42;
  border: 0.3vw outset #f17f42;
  border-radius: 2vw;
  padding: 1vw;
  font-size: 2vw;
}
.info-section .container .item i,
.info-section .container .item .text-box {
  margin: 1.5vw;
}
.info-section .container .item .text-box h3 {
  font-size: 2.2vw;
  margin: 1vw;
}
.info-section .container .item .text-box p {
  font-size: 1.5vw;
  margin: 5px;
}

/* info-2 section */
.info-2 {
  position: relative;
  margin: 7vh;
  width: 100%;
  height: 50vw;
  min-height: 300px;
  background-image: url(../img/menuBackground.jpg);
  background-size: cover;
  background-position: center;
}
.info-2 .text-box {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 50%;
  height: 30vw;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Noto";
  color: #333333;
}
.info-2 .text-box h2 {
  font-size: 4vw;
}
.info-2 .text-box p {
  font-size: 2vw;
}

/* event section */
.event {
  width: 90%;
  margin: 0 auto 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4vw;
}
.event .content {
  position: relative;
  cursor: pointer;
  width: 40vw;
  height: 15vw;
  border-radius: 1vw;
  box-shadow: 5px 5px 5px 0px #666666;
}
.event .c1 {
  font-family: "Jua";
  background-image: url(../img/ev1.jpg);
  background-size: 70vw;
  background-position: 0% 30%;
}
.event .c1 h3 {
  position: absolute;
  left: 5%;
  top: 15%;
  color: white;
  font-size: 2.6vw;
}
.event .c1 p {
  position: absolute;
  left: 5%;
  top: 60%;
  font-size: 1.6vw;
  color: white;
}

.event .c2 {
  font-family: "Jua";
  background-image: url(../img/slide4.jpg);
  background-size: 40vw;
  background-position: 40% 40%;
  color: white;
  text-shadow: 0px 0px 4px #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.event .c2 h3 {
  font-size: 2.8vw;
}
.event .c2 p {
  font-size: 2vw;
}

.event .c3 {
  background-image: url(../img/rose-4207584_1920.jpg);
  background-size: 50vw;
  background-position: 0% 50%;
}

.event .c4 {
  background-image: url(../img/ev15.jpg);
  background-size: 60vw;
  background-position: center;
}

.event .c6 {
  background-image: url(../img/ev16.png);
  background-size: 50vw;
  background-position: 40% 40%;
}
.event .c6 h3 {
  font-family: "Jua";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 22%;
  color: white;
  font-size: 2.6vw;
}

.event .c5 {
  background-image: url(../img/ev6.jpg);
  background-size: 60vw;
  background-position: 0% 48%;
}
.event .c5 h3 {
  position: absolute;
  font-family: "Noto";
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2.4vw;
}

/* footer section */
.footer {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #999999;
}
.footer .footer-box {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.footer .footer-box h2 {
  font-family: "Pacifico";
  font-size: 60px;
  margin: 30px 0;
}
.footer .footer-box .text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
.footer .footer-box .text-box h3 {
  font-size: 30px;
  margin: 20px 0;
}
.footer .footer-box .text-box p {
  font-size: 18px;
  margin: 5px 0;
}
.footer .footer-box .text-box form {
  display: flex;
  flex-direction: column;
}
.footer .footer-box .text-box form input {
  margin: 2px 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
}
.footer .footer-box .text-box form button {
  width: 50px;
  margin: 5px 0;
  padding: 2px;
}

/* animation */
@keyframes text_slide_down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes text_slide_right {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* responses */
@media (max-width: 1200px) {
  .footer .footer-box .f3 {
    display: none;
  }
}
@media (max-width: 800px) {
  .header .hSwiper .swiper-slide > div {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    text-align: center;
  }
  .header .hSwiper .swiper-slide h2 {
    font-size: 7vw;
  }
  .header .hSwiper .swiper-slide h3 {
    font-size: 3vw;
  }
  .footer .footer-box h2 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .header .menu-btn {
    width: 100px;
    height: 50px;
    font-size: 15px;
  }
  .menu-section .menu-slider .mSwiper .swiper-slide {
    height: 27vw;
  }
  .menu-wrapper .inner-box .menu .container .item .text-box h3 {
    font-size: 3.6vw;
    padding: 0.3vw;
  }
  .menu-wrapper .inner-box .menu .container .item .text-box p {
    display: none;
  }
  .menu-wrapper .inner-box .menu .container .item .text-box h3 br {
    display: inline-block;
  }
  .info-section .container .item .text-box p {
    display: none;
  }
  .footer .footer-box .f2 {
    display: none;
  }
}

@media (max-width: 400px) {
  .footer {
    height: 180px;
  }
  .footer .footer-box h2 {
    display: none;
  }
}
