body {
    margin: 0;
    padding: 0;
    background-color: #555555;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

p {margin: 0;}

section {
    margin: auto;
    margin-top: 30px;
    width: 320px;
}

.big_box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid #888888;
    padding: 10px;
    margin: 10px;
    background-color: white;
    text-align: center;
}

.img {
    width: 260px;
    height: 340px;
    background-image: url(../img/hongkong.png);
    background-size: 280px 340px;
    margin: 10px;
    background-position: center center;
}

.icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    left: 4px;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

i {
    color: white;
}

.cost_box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.cost {
    color: #333333;
}

#input_box {
    width: 70px;
    height: 20px;
    font-size: 20px;
}


.low_box {
    border: 3px solid #888888;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.total_cost {color: gold;}