section {
  margin: 7vw auto;
}
.intro-section {
  position: relative;
}
.intro-section .deco {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 2%;
  z-index: 1;
}
.intro-section .left-deco {
  background-color: #cff9f9;
}
.intro-section .right-deco {
  right: 0;
  background-color: #ced7fb;
}

.intro-section > h1 {
  margin: 2vh;
  position: relative;
  z-index: 2;
}
.intro-section .title-margin {
  height: 2vh;
}
.intro-section p {
  font-size: 1.5vw;
}
.intro-section .text-box {
  position: relative;
  z-index: 2;
  margin: 3vw;
}

.sc {
  padding: 20px;
}
.sc .text-box {
  padding: 20px;
}
.sc .text-box h2 {
  margin-bottom: 5vw;
}
.sc .text-box p {
  font-size: 1.5vw;
}
.sc .text-box button {
  font-size: 3vw;
}

.algorithm-section {
  background-color: #f3cdff;
}
.SOLID-section {
  background-color: #d3b2f3;
}
.web-section {
  background-color: #bebeff;
}
.others-section {
  background-color: #ffc0e3;
}

.img-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.img-box .inner-img {
  width: 80%;
  height: 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.img-box .img1 {
  background-image: url(../img/algorithm.PNG);
}
.img-box .img2 {
  background-image: url(../img/data\ structure.PNG);
}

.footer {
  width: 100%;
  background-color: #999999;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #dddddd;
}
.footer p {
  height: 70px;
  line-height: 70px;
  margin: 0;
}
