body {
  position: relative;
}

section {
  margin: 7vw auto;
}

.intro-section {
  position: relative;
}
.intro-section > h1 {
  position: absolute;
  top: 3vw;
  left: 3vw;
  font-size: 8vw;
}
.intro-section .title-margin {
  height: 16vw;
}
.intro-section .left-intro {
  background-color: #cff9f9;
}
.intro-section .right-intro {
  background-color: #ced7fb;
}
.intro-section p {
  font-size: 2vw;
}
.intro-section .text-box {
  margin: 5vw;
}

.sc {
  padding: 20px;
}
.sc .text-box {
  padding: 20px;
}
.sc .text-box h2 {
  font-size: 5vw;
  margin-bottom: 5vw;
}
.sc .text-box p {
  font-size: 2vw;
}
.sc .text-box button {
  font-size: 3vw;
}

.algorithm-section {
  background-color: #f3cdff;
}
.SOLID-section {
  background-color: #d3b2f3;
}
.web-section {
  background-color: #bebeff;
}
.others-section {
  background-color: #ffc0e3;
}

.footer {
  width: 100%;
  background-color: #999999;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #dddddd;
}
.footer p {
  height: 70px;
  line-height: 70px;
  margin: 0;
}
