@font-face {
  font-family: "Giants-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.footer {
  background-color: rgb(226, 242, 255);
  /* background: linear-gradient(160deg, rgb(226, 242, 255), white); */
  overflow: hidden;
}
.footer .diag {
  position: absolute;
  width: 200vw;
  height: 85vh;
  left: -50vw;
  top: 30vh;
  transform: rotate(15deg);
  background-color: white;
}
.footer .footer-inner {
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 5vh;
  left: 7vw;
}

.footer .img-box {
  position: absolute;
  width: 35vw;
  height: 50vh;
  top: 5vh;
  left: 0vw;
  display: flex;
}
.footer .img-box .sm-img-box:nth-child(1) {
  transform: translateY(20%);
}
.footer .img-box .sm-img-box:nth-child(3) {
  transform: translateY(20%);
}
.footer .img-box .sm-img-box .item-box {
  width: 12vw;
  height: 20vh;
  margin: 2vw 1vw;
  box-shadow: 0.1vw 0.1vw 0.2vw #333333;
  background-color: white;
  background-size: cover;
  background-position: center;
}
.footer .img-box .sm-img-box:nth-child(1) .item-box:nth-child(1) {
  background-image: url(../img/footerImg/imagetext.png);
  width: 20vw;
  height: 24vh;
}
.footer .img-box .sm-img-box:nth-child(1) .item-box:nth-child(2) {
  background-image: url(../img/footerImg/exampl.png);
  width: 20vw;
  height: 24vh;
}
.footer .img-box .sm-img-box:nth-child(1) .item-box {
  background-size: contain;
  background-repeat: no-repeat;
}
.footer .img-box .sm-img-box:nth-child(2) .item-box:nth-child(1) {
  background-image: url(../img/footerImg/Mockup.png);
}
.footer .img-box .sm-img-box:nth-child(2) .item-box:nth-child(2) {
  background-image: url(../img/footerImg/car.jpg);
}
.footer .img-box .sm-img-box:nth-child(2) .item-box:nth-child(3) {
  background-image: url(../img/footerImg/comp2.png);
}
.footer .img-box .sm-img-box:nth-child(3) .item-box:nth-child(1) {
  background-image: url(../img/footerImg/adui.jpg);
}
.footer .img-box .sm-img-box:nth-child(3) .item-box:nth-child(2) {
  background-image: url(../img/footerImg/computer.png);
}

.footer .text-box {
  position: absolute;
  right: 5vw;
  top: 50%;
}
.footer .text-box p {
  font-family: "Giants-Bold";
  font-size: 1vw;
  margin-bottom: 5vh;
}

.footer .top-box {
  cursor: pointer;
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Giants-Bold";
  font-size: 1vw;
}

@media (max-width: 768px) {
  .footer .footer-inner {
    width: 80vw;
    height: 80vh;
    top: 5vh;
    left: 10vw;
  }

  .footer .img-box {
    width: 80vw;
    height: 40vh;
    top: 0vh;
    left: -5vw;
  }
  .footer .img-box .sm-img-box:nth-child(1) {
    transform: translateY(5vh);
  }
  .footer .img-box .sm-img-box:nth-child(3) {
    display: none;
  }

  .footer .img-box .sm-img-box .item-box {
    width: 30vw;
    height: 10vh;
    margin: 3vw 3vw;
    box-shadow: 0.1vw 0.1vw 0.2vw #333333;
  }
  .footer .img-box .sm-img-box:nth-child(1) .item-box:nth-child(1) {
    width: 40vw;
    height: 12vh;
  }
  .footer .img-box .sm-img-box:nth-child(1) .item-box:nth-child(2) {
    width: 40vw;
    height: 12vh;
  }

  .footer .text-box {
    left: 0vw;
    top: 60%;
  }
  .footer .text-box p {
    font-size: 10px;
    margin-bottom: 5vh;
  }
  .footer .text-box p br {
    display: none;
  }
}
