@font-face {
  font-family: "KungFu";
  src: url(../../font/KungFu/KungFuMasterLeftalic-nRjBV.otf);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 200;
}
.header-box h2 {
  padding: 0 0 0 5vw;
  margin: 0;
  font-size: 1.5vw;
}
.header-box .ani-block {
  position: absolute;
  top: 50%;
  left: 2vw;
  width: 2vw;
  height: 0.3vw;
  background-color: white;

  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.header-box .ani1 {
  animation-name: one;
}
.header-box .ani2 {
  animation-name: two;
}
.header-box .ani3 {
  animation-name: three;
}
.header-box .ani4 {
  animation-name: four;
}
.header-box .ani5 {
  animation-name: five;
}

.header-box .header-nav {
  list-style: none;
  display: flex;
  width: 35vw;
  justify-content: space-around;
  text-align: center;
}
.header-box .header-nav li {
  cursor: pointer;
}

.header .text-box {
  font-family: "KungFu";
  color: white;
  text-shadow: 1vw 1vw 0 #333333;
  width: 50vw;
}
.header .text-box .head-left {
  text-align: left;
}
.header .text-box .head-right {
  text-align: right;
}
.header .text-box h2 {
  font-size: 8vw;
}
.header span {
  color: lightblue;
  font-size: 9vw;
}

@keyframes one {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes two {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(720deg);
  }
}

@keyframes three {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(1080deg);
  }
}

@keyframes four {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(1440deg);
  }
}

@keyframes five {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(1800deg);
  }
}

.header .text-box .head1 {
  animation: bubble 3s infinite alternate;
}
.header .text-box .head2 {
  animation-delay: 2s;
  animation: bubble 5s infinite alternate;
}
.header .text-box .head3 {
  animation-delay: 3s;
  animation: bubble 4s infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2vh);
  }
}

@media (max-width: 768px) {
  .header-box h2 {
    padding-left: 15vw;
    margin: 0;
    font-size: 3vw;
  }
  .header-box .ani-block {
    position: absolute;
    top: 50%;
    left: 5vw;
    width: 5vw;
    height: 0.8vw;
    background-color: white;

    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .header-box .header-nav {
    display: none;
  }

  .header .text-box {
    width: 70vw;
  }
  .header .text-box .head-right {
    text-align: right;
  }
  .header .text-box h2 {
    font-size: 14vw;
    margin: 5vh 0;
  }
  .header span {
    font-size: 16vw;
  }
}
