@font-face {
  font-family: "Noto";
  src: url(../../font/Noto_Sans_KR/NotoSansKR-Medium.otf);
}

.left-top {
  top: 0;
  left: 0;
}
.right-top {
  top: 0;
  right: 0;
}
.left-bottom {
  bottom: 0;
  left: 0;
}
.right-bottom {
  bottom: 0;
  right: 0;
}

/* info first */
.info .inner {
  position: relative;
}
.info .inner-box {
  position: absolute;
  width: 50%;
  height: 50%;
}
.info .text-box {
  text-align: left;
  font-family: "Noto";
  padding: 2vw;
}
.info .text-box h2 {
  font-size: 2vw;
  margin-bottom: 3vh;
}
.info .text-box p {
  font-size: 1.2vw;
  margin-bottom: 2vh;
}

/* info second */
.info .ani-big-box {
  position: absolute;
  top: 20%;
  left: 20%;
}
.info .ani-box {
  position: absolute;
  width: 20vw;
  height: 11.547005vw;
}
.info .ani1 {
  background-color: rgba(255, 0, 0, 0.2);
}
.info .ani2 {
  background-color: rgba(0, 255, 0, 0.2);
  transform: rotate(60deg);
}
.info .ani3 {
  background-color: rgba(0, 0, 255, 0.2);
  transform: rotate(120deg);
}

/* info third */
.info .img-box .my-img {
  width: 12vw;
  height: 12vw;
  border-radius: 6vw;
  background-color: red;
  margin: 1vw;
}
