@font-face {
  font-family: "Noto";
  src: url(../../font/Noto_Sans_KR/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: "Mont";
  src: url(../../font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

.info-inner {
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  color: white;
}

.left-top {
  top: 0;
  left: 0;
}
.right-top {
  top: 0;
  right: 0;
}
.left-bottom {
  top: 46%;
  left: 0;
  position: relative;
}
.right-bottom {
  top: 50%;
  right: 0;
}

/* info first, fourth */
.info .inner-box {
  position: absolute;
  width: 50%;
  height: 40%;
}
.info .text-box {
  text-align: left;
  font-family: "Noto";
  padding: 5vw;
  text-shadow: 1px 1px 3px #333333;
}
.info .text-box h2 {
  font-family: "Mont";
  font-size: 3vw;
  margin-bottom: 6vh;
}
.info .text-box p {
  font-size: 1.2vw;
  margin-bottom: 2vh;
}
.info .text-box a {
  text-decoration: none;
  color: white;
}

/* info second */
.info .main-img {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 20vw;
  height: 20vw;
  border-radius: 10vw;
  background-color: white;
  background-image: url(../img/infoImg/info1.jpg);
  background-position: top;
  background-size: cover;
  box-shadow: 0.2vw 0.2vw 0.3vw #333333;
  animation: bubble 1.5s infinite alternate;
}

/* info third */
.info .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.info .img-box .my-img {
  width: 10vw;
  height: 10vw;
  border-radius: 5vw;
  background-color: white;
  background-position: center;
  background-size: cover;
  box-shadow: 0.2vw 0.2vw 0.3vw #333333;
  margin: 1vw;
}
.info .img-box .img1 {
  background-image: url(../img/infoImg/keyboard2.png);
  animation: bubble 1.7s infinite alternate;
}
.info .img-box .img2 {
  background-image: url(../img/infoImg/key.jpg);
  animation: bubble 1.4s infinite alternate;
}
.info .img-box .img3 {
  background-image: url(../img/infoImg/calm.jpg);
  animation: bubble 2s infinite alternate;
  background-position: right;
}

/* bubble animation */
@keyframes bubble {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4vh);
  }
}

@media (max-width: 768px) {
  .left-top {
    top: 0;
    left: 0;
  }
  .right-top {
    display: none;
  }
  .left-bottom {
    top: 50%;
    left: 5%;
  }
  .right-bottom {
    top: 30%;
    right: 5%;
  }
  .info .inner-box {
    position: absolute;
    width: 80%;
  }
  .info .text-box {
    padding: 0;
  }
  .info .text-box h2 {
    font-size: 6.5vw;
    margin-bottom: 3vh;
  }
  .info .text-box p {
    font-size: 4vw;
    margin-bottom: 1vh;
  }
  .info .img-box .my-img {
    width: 24vw;
    height: 24vw;
    border-radius: 12vw;
    margin: 3vw;
  }
  .info .img-box .img1 {
    animation: bubble2 1.7s infinite alternate;
  }
  .info .img-box .img2 {
    animation: bubble2 1.4s infinite alternate;
  }
  .info .img-box .img3 {
    animation: bubble2 2s infinite alternate;
  }

  @keyframes bubble2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-2vh);
    }
  }
}
