.scrollspy-example {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

#navbar-scrollspy {
  position: fixed;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
}

#navbar-scrollspy ul {
  display: flex;
  flex-direction: column;
}
#navbar-scrollspy ul li a {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.6vw;
}
#navbar-scrollspy ul li a div {
  transition: 0.15s;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 0.4vw;
  background-color: #aaaaaa;
}
#navbar-scrollspy ul li a p {
  opacity: 0;
  width: 8vw;
  font-size: 15px;
  margin: 0 0 0 15px;
  color: black;
}

#navbar-scrollspy ul li .active div {
  width: 2vw;
  transform: rotate(40deg) translate(0.4vw, -0.4vw);
}
#navbar-scrollspy ul li .active .color1 {
  background-color: #80d4f6;
}
#navbar-scrollspy ul li .active .color2 {
  background-color: #272d9c;
}
#navbar-scrollspy ul li .active .color3 {
  background-color: #fe7373;
}
#navbar-scrollspy ul li .active .color4 {
  background-color: #eab5ff;
}
#navbar-scrollspy ul li .active .color5 {
  background-color: darkviolet;
}
#navbar-scrollspy ul li .active .color6 {
  background-color: #5f8bfa;
}
#navbar-scrollspy ul li .active .color7 {
  background-color: #666666;
}
#navbar-scrollspy ul li .active .color8 {
  background-color: #d2ff1f;
}
#navbar-scrollspy ul li .active p {
  opacity: 1;
}
