@font-face {
  font-family: "Mont";
  src: url(../../font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Noto";
  src: url(../../font/Noto_Sans_KR/NotoSansKR-Light.otf);
}
@font-face {
  font-family: "Robo";
  src: url(../../font/Roboto/Roboto-BoldItalic.ttf);
}

.skill {
  overflow: hidden;
}

.skill .shapes {
  list-style: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
.skill .shapes li {
  background-color: rgba(41, 53, 220, 0.05);
}

.skill .shapes .big-circle {
  position: absolute;
  left: 5%;
  top: 30%;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  animation: bubble 3s infinite alternate;
}
.skill .shapes .big-circle .inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vw;
  border-radius: 15vw;
  background-color: white;
}
.skill .shapes .small-circle {
  position: absolute;
  left: 47%;
  top: 7%;
  width: 32vw;
  height: 32vw;
  border-radius: 16vw;
  animation: bubble 2s infinite alternate;
}
.skill .shapes .small-circle .inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24vw;
  height: 24vw;
  border-radius: 12vw;
  background-color: white;
}
.skill .shapes .small-circle2 {
  position: absolute;
  left: 50%;
  top: 70%;
  width: 12vw;
  height: 12vw;
  border-radius: 6vw;
  animation: bubble 2.3s infinite alternate;
}
.skill .shapes .small-circle2 .inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8vw;
  height: 8vw;
  border-radius: 4vw;
  background-color: white;
}
.skill .shapes .triangle {
  position: absolute;
  top: 75%;
  left: 84%;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 3vw solid rgba(41, 53, 220, 0.05);
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  transform: rotate(-35deg);
  animation: tri_bubble 2.2s infinite alternate;
}
.skill .shapes .circle1 {
  position: absolute;
  top: 85%;
  left: 77%;
  width: 3vw;
  height: 3vw;
  border-radius: 1.5vw;
  animation: bubble 3.5s infinite alternate;
}
.skill .shapes .circle2 {
  position: absolute;
  top: 15%;
  left: 32%;
  width: 2vw;
  height: 2vw;
  border-radius: 1vw;
  animation: bubble 3s infinite alternate;
}
.skill .shapes .circle3 {
  position: absolute;
  top: 18%;
  left: 82%;
  width: 4vw;
  height: 4vw;
  border-radius: 2vw;
  animation: bubble 2.1s infinite alternate;
}
.skill .shapes .circle4 {
  position: absolute;
  top: 85%;
  left: 45%;
  width: 2vw;
  height: 2vw;
  border-radius: 1vw;
  animation: bubble 1.1s infinite alternate;
}

.skill .skill-inner {
  position: absolute;
  width: 80%;
  height: 80vh;
  margin: 10vh 13vw 10vh 7vw;
}
.skill h2 {
  font-family: "Mont";
  font-weight: bold;
  font-size: 6vw;
  margin-bottom: 8vh;
}

.skill .big-item-box {
  position: relative;
  width: 80vw;
  height: 60vh;
}

.skill .big-item-box .icon-box {
  position: absolute;
  width: 8vw;
  height: 8vw;
  border-radius: 4vw;
  box-shadow: 0.05vw 0.05vw 0.2vw #333333;
  background-position: center;
  background-size: 5vw 5vw;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  transition-delay: 0.2s;
  background-color: white;
  overflow: hidden;
}
.skill .big-item-box .icon-box .inner-color {
  width: 0vw;
  height: 0vw;
  border-radius: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s;
  transition-delay: 0.15s;
}
.skill .big-item-box .icon-box .inner-color .inner-text {
  width: 0vw;
  height: 0vw;
  border-radius: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s;
  text-align: center;
  overflow: hidden;
}
.skill .big-item-box .icon-box .inner-color .inner-text > div {
  font-family: "Robo";
  font-size: 2vw;
  width: 14vw;
  height: 14vw;
  line-height: 14vw;
  text-align: center;
}
.skill .big-item-box .icon-box:hover {
  width: 12vw;
  height: 12vw;
  border-radius: 6vw;
}
.skill .big-item-box .icon-box:hover .inner-color {
  transition-delay: 0.05s;
  width: 14vw;
  height: 14vw;
  border-radius: 7vw;
}
.skill .big-item-box .icon-box:hover .inner-color .inner-text {
  transition-delay: 0.28s;
  width: 14vw;
  height: 14vw;
  border-radius: 7vw;
}

.skill .big-item-box .icon-html {
  background-image: url(../img/html.png);
  top: 30vh;
  left: 5vw;
  animation: bubble 2.4s infinite alternate;
}
.skill .big-item-box .icon-html .inner-color {
  background-color: orangered;
}
.skill .big-item-box .icon-html .inner-color .inner-text {
  color: orangered;
  background-color: white;
}
.skill .big-item-box .icon-html:hover {
  top: 27vh;
  left: 3vw;
  box-shadow: 0 0 0.2vw orangered;
}

.skill .big-item-box .icon-css {
  background-image: url(../img/css.png);
  top: 10vh;
  left: 15vw;
  animation: bubble 2.9s infinite alternate;
}
.skill .big-item-box .icon-css .inner-color {
  background-color: rgb(21, 114, 182);
}
.skill .big-item-box .icon-css .inner-color .inner-text {
  color: rgb(21, 114, 182);
  background-color: white;
}
.skill .big-item-box .icon-css:hover {
  top: 7vh;
  left: 13vw;
  box-shadow: 0 0 0.2vw rgb(21, 114, 182);
}

.skill .big-item-box .icon-js {
  background-image: url(../img/js.png);
  top: 40vh;
  left: 23vw;
  animation: bubble 2.4s infinite alternate;
}
.skill .big-item-box .icon-js .inner-color {
  background-color: rgb(245, 222, 25);
}
.skill .big-item-box .icon-js .inner-color .inner-text {
  color: rgb(245, 222, 25);
  background-color: white;
}
.skill .big-item-box .icon-js:hover {
  top: 37vh;
  left: 21vw;
  box-shadow: 0 0 0.2vw rgb(245, 222, 25);
}

.skill .big-item-box .icon-swiper {
  background-image: url(../img/temp-swiper.png);
  top: -5vh;
  left: 42vw;
  animation: bubble 3.1s infinite alternate;
}
.skill .big-item-box .icon-swiper .inner-color {
  background-color: rgb(0, 128, 255);
}
.skill .big-item-box .icon-swiper .inner-color .inner-text {
  color: rgb(0, 128, 255);
  background-color: white;
}
.skill .big-item-box .icon-swiper:hover {
  top: -8vh;
  left: 40vw;
  box-shadow: 0 0 0.2vw rgb(0, 128, 255);
}

.skill .big-item-box .icon-fp {
  background-image: url(../img/temp-fullpage.png);
  top: -16vh;
  left: 56vw;
  animation: bubble 2.8s infinite alternate;
}
.skill .big-item-box .icon-fp .inner-color {
  background-color: rgb(245, 100, 67);
}
.skill .big-item-box .icon-fp .inner-color .inner-text {
  color: rgb(245, 100, 67);
  background-color: white;
}
.skill .big-item-box .icon-fp:hover {
  top: -19vh;
  left: 54vw;
  box-shadow: 0 0 0.2vw rgb(245, 100, 67);
}

.skill .big-item-box .icon-boot {
  background-image: url(../img/bootstrap.png);
  top: 10vh;
  left: 55vw;
  animation: bubble 2.5s infinite alternate;
}
.skill .big-item-box .icon-boot .inner-color {
  background-color: black;
}
.skill .big-item-box .icon-boot .inner-color .inner-text {
  color: black;
  background-color: white;
}
.skill .big-item-box .icon-boot:hover {
  top: 7vh;
  left: 53vw;
}

.skill .big-item-box .icon-code {
  background-image: url(../img/algorithm.PNG);
  top: 40vh;
  left: 66vw;
  animation: bubble 3.5s infinite alternate;
}
.skill .big-item-box .icon-code .inner-color {
  background-color: rgb(78, 0, 78);
}
.skill .big-item-box .icon-code .inner-color .inner-text {
  color: rgb(78, 0, 78);
  background-color: white;
}
.skill .big-item-box .icon-code:hover {
  top: 37vh;
  left: 64vw;
  box-shadow: 0 0 0.2vw rgb(78, 0, 78);
}
.skill .big-item-box .icon-code .inner-color .inner-text > div {
  cursor: pointer;
  text-decoration: underline rgb(78, 0, 78);
}

@keyframes bubble {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4vh);
  }
}
@keyframes tri_bubble {
  0% {
    transform: rotate(-35deg) translateY(0);
  }
  100% {
    transform: rotate(-35deg) translateY(-4vh);
  }
}

@media (max-width: 768px) {
  .skill h2 {
    font-size: 10vw;
    margin-bottom: 8vh;
  }

  .skill .big-item-box .item1 {
    top: 0%;
    left: 10%;
    animation: bubble 5s infinite alternate;
  }
  .skill .big-item-box .item2 {
    top: 40%;
    left: 30%;
    animation: bubble 5.5s infinite alternate;
  }
  .skill .big-item-box .item3 {
    top: 80%;
    left: 10%;
    animation: bubble 6s infinite alternate;
  }

  .skill .item-box .text-box {
    padding: 2vw;
  }
  .skill p {
    font-size: 4vw;
  }
  .skill .img-box {
    padding: 2vw;
    background-color: rgba(41, 53, 220, 0.05);
  }
  .skill .img-box img {
    margin: 0 2vw;
    width: 10vw;
    height: 10vw;
  }
  .skill .item-box {
    box-shadow: 0.1vw 0.1vw 0.6vw #333333;
  }
  .skill .item-box .link-box {
    height: 8vw;
  }
  .skill .item-box .link-box p {
    font-size: 5vw;
    margin: 0 auto 0 0.4vw;
  }
  .skill .item-box .link-box .hover-bar {
    left: -100%;
    width: 70%;
    height: 0.2vw;
    transition: 0.2s;
  }
  .skill .item-box .link-box:hover .hover-bar {
    transform: translateX(100%);
    background-color: rgb(71, 77, 168);
  }
}
