@font-face {
  font-family: "Mont";
  src: url(../../font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Noto";
  src: url(../../font/Noto_Sans_KR/NotoSansKR-Light.otf);
}

.skill {
  overflow: hidden;
}
.skill h2 {
  font-family: "Mont";
  font-size: 5vw;
}

.skill .text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}
.skill .text-box .item-box {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill .text-box p {
  font-family: "Noto";
  font-size: 1.5vw;
}
.skill .img-box img {
  margin: 0 1vw;
  width: 8vw;
  height: 8vw;
}
