* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.container * {
    margin: 0;
    padding: 0;
}

.upper-box {
    position: relative;
    background-color: red;
    color: white;
    height: 200px;
}

.month-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.month {
    font-size: 30px;
}

.year {
    font-size: 20px;
}

.seventh {
    height: 40px;
    background-color: #ccc;
}

.days {
    height: 200px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}