section {display: flex;}

.big_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: orange;
}

.sm_circle {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 15px;
}