.big {
    display: flex;
    height: 100px;
}

.big>div {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.f1 {
    background-color: rgb(30, 226, 49);
}
.f2 {
    background-color: rgba(30, 226, 49, 0.6);
}
.f3 {
    background-color: rgba(30, 226, 49, 0.3);
}
.f4 {
    background-color: rgba(30, 226, 49, 0.1);
}