* {
    /* border 를 포함한 것을 사이즈로 적용 */
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    background-color: blue; 
    /* border 는 요소 크기에 영향을 줌 */
    /* box-sizing: border-box; 를 선언하면 border 가 크기에 영향을 주지 않음 */
    border: 20px solid red;
}

h1 {color: red;}

h1 span {color: blue;}

@media (max-width: 700px) {
    h1 span {color: orange;}
}

h2 {color: green;}

/* 한꺼번에 색상을 지정하고 싶은데 a 태그가 안 먹음 */
/* a 태그 자체에 색상이 지정되어 있기 때문 */
/* 따라서 적어도 a 태그를 직접 불러서 선언해야 함 */
/* 상속으로 사용하고 싶다면 color: inherit; 사용 */
a {color: inherit;}
.box3 {color: green;}
/* 아래 방법도 가능 */
.box3 * {color: green;}

.container {
    display: grid;

    /* 가로 방향으로 100px 만큼 3번 나눔 */
    /* grid-template-columns: 100px 100px 100px; */
    /* 가로 크기 기준으로 1:1:1 로 나눔 */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* 다양한 방법들 */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 100px 1fr 1fr;
    height: 500px;
    /* grid-template-rows: repeat(5, 1fr); */
    /* grid-template-rows 를 선언하지 않으면 알아서 나눠가짐 */

    /* 행열 사이 간격 */
    gap: 30px 10px;

    /* 요소 수직 정렬 */
    /* 기본적으로 stretch */
    align-items: stretch;
    /* 시작점에 붙음 */
    /* align-items: start; */
    /* 마지막에 붙음 */
    /* align-items: end; */
    /* 중앙 정렬 */
    /* align-items: center; */

    /* 요소 가로 정렬 */
    /* 기본적으로 stretch */
    justify-items: stretch;
    /* justify-items: start;
    justify-items: end;
    justify-items: center; */

    /* 동시 정렬 */
    /* place-items: center center; */

    /* 통째로 정렬 (잘 사용 안 함)*/
    /* align-content: space-around; */
    /* justify-content: space-around; */
}

.item {
    border: 1px solid black;
    font-size: 30px;
    height: 300px;
}

/* grid 영역 배치 */
.item:nth-child(1) {

    /* 11 12 13 */
    /* 21 22 23 */
    /* 31 32 33 */

    /* grid-column-start: 1;
    grid-column-end: 3; */
    background-color: pink;
}

.item:nth-child(4) {
    /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-column: 1/3;
    grid-row: 2/4;
    background-color:aqua;
}

.item:nth-child(5) {
    /* grid-row: 3 / span 3; */
    background-color: lightskyblue;
}

.item:nth-child(8) {
    /* grid-column: 2 / 4; */
    background-color: beige;
}