body {
    padding: 0;
    margin: 0;
}

h3 {margin: 20px;}
.get_info {margin: 20px;}

.color_box {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: black;
}

.inner_box {
    padding: 20px;
    width: 200px;
    height: 60px;
    background-color: white;
    line-height: 30px;
}

.img_code {margin: 20px;}