body {
    text-align: center;
}

.box {
    width: 400px;
    height: 100px;
    background-color: blue;

    /* margin left, right auto 로 중앙으로 설정 가능 */
    /* margin-left: auto; */
    /* margin-right: auto; */

    /* margin: top right bottom left 순서로 마진을 설정할 수 있음 */
    /* margin: 0 auto 0 auto; */

    /* 마주보는 마진이 같으면 top right 부분만 설정하면 된다 */
    /* 만약 모든 마진이 같으면 하나만 입력 */
    margin: 20px auto;
}

.txt {
    /* span 태그는  width, height 를 무시한다 */
    /* inline 요소 특징 */
    width: 400px;
    background-color: yellow;
}

h1 {
    text-align: right;
    background-color: red;
    margin: 0 auto;
}

.box2 {
    /* inline 처럼 옆으로 정렬되면서 block 처럼 size 설정 가능한 inline-block  */
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 0 auto;
}