
.img_box img {
    height: 200px;
}

.big_img {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

#alt_text {
    position: absolute;
    background-color: #dddddd;
    padding: 10px;
    width: 150px;
    top: 15%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -80%);
    text-align: center;
}

.big_img img {
    height: 70%;
}