* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.upper-box {
    background-color: black;
    color: white;
}

ul {display: flex;}

li {
    padding: 20px;
    list-style: none;
}

.upper-box {position: relative;}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: red;
}

.menu-list>li:hover {background-color: red;}
.menu-list>li:hover>ul {display: flex;}

h2 {padding: 30px;}
p {padding: 0 30px;}

.submenu>li:hover {
    background-color: aliceblue;
    color: black;
}