@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0; padding: 0;
    /* font-family: 'MBC1961GulimM'; */
}

section {
    position: relative;
    width: 90%; margin: 30px auto;
}

.time_box {
    background-color: aliceblue;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    line-height: 300px;
    text-align: center;
    font-size: 50px;
}

.btn_box {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    width: 100%;
    margin: auto;
}

button {
    padding: 20px;
    margin: 10px;
    width: 20%; max-width: 150px;
    color: white;
    border: none;
    font-size: 20px;
}
button:hover {
    color: yellow;
}

#start {background-color: red;}
#stop {background-color: blue;}
#record {background-color:limegreen}


.rec {
    background-color:beige;
    width: 100%;
    margin: 30px auto;
    list-style: none;
    max-height: 221.2px;
    overflow: auto;
}
.rec::-webkit-scrollbar {width: 10px;}
.rec::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}
.rec::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
}
.rec li {padding: 5px;}

@media (max-width: 800px) {
    button {font-size: 12px; padding: 10px;}
    .rec {max-height: 158px;}
}