/* font */
@font-face {
  font-family: "Cor";
  src: url("../../font/Cormorant/Cormorant-Italic-VariableFont_wght.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto";
  src: url("../../font/Noto_Sans_KR/NotoSansKR-Medium.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Mont";
  src: url("../../font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}
.inner {
  box-sizing: border-box;
  width: 80%;
  padding: 50px 0;
  margin: auto 10%;
}

/* navigator */
.nav {
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
}
.nav:hover {
  background-color: white;
}
.nav .bg-white {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s;
  background-color: white;
}

/* navigator menu */
.nav .nav-menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #333333;
}
.nav .nav-menu .nav-box1 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-menu .nav-box1 .logo {
  cursor: pointer;
  font-family: "Cor";
  padding: 20px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-menu .nav-box1 .logo h1 {
  font-size: 50px;
  padding: 20px;
}
.nav .nav-menu .nav-box1 .lists .nav-list {
  font-size: 16px;
}

.nav .nav-menu .nav-box1 .lists .nav-list a i {
  color: white;
  transition: 0.2s;
}
.nav .nav-menu .nav-box1 > i {
  display: none;
  color: white;
  text-shadow: 0px 0px 10px #000000;
  padding: 20px;
  translate: 0.2s;
}
.nav .nav-menu .nav-box2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-menu .nav-box2 .lists {
  margin: auto;
}
.nav .nav-menu .nav-box2 .lists .nav-list {
  width: 20vw;
  font-size: 20px;
  text-align: center;
}
.nav .nav-menu .nav-box2 .lists .spacer {
  width: 2px;
  height: 20px;
  background-color: white;
  box-shadow: 1px 1px 1px 0px #666666;
  transition: 0.2s;
}
.nav .nav-menu .lists {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: white;
  text-shadow: 0px 0px 10px #333333;
}
.nav .nav-menu .nav-box1 .lists .nav-list {
  cursor: pointer;
  padding: 20px;
  transition: 0.2s;
  color: white;
  text-shadow: 0px 0px 10px #333333;
}
.nav .nav-popup {
  height: 0px;
  overflow: hidden;
  transition: 0.2s;
  border-bottom: 1px solid #333333;
}
.nav .nav-popup .nav-box {
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: white;
}
.nav .nav-popup .nav-box ul {
  display: flex;
  flex-direction: column;
  width: 20vw;
  list-style: none;
  padding: 5px 0;
}
.nav .nav-popup .nav-box ul li {
  cursor: pointer;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #666666;
}
.nav .nav-popup .nav-box .spacer {
  width: 1px;
  margin-top: 20px;
  height: 120px;
  background-color: #aaaaaa;
}

/* header slider*/
.header {
  width: 100%;
  height: 100vh;
  font-family: "Noto";
  margin-bottom: 10vw;
}
.header .headerSwiper {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header .headerSwiper .swiper-wrapper .swiper-slide > div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.header .headerSwiper .swiper-wrapper .swiper-slide .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.header .headerSwiper .swiper-wrapper .swiper-slide .slide .text-box {
  width: 80%;
  text-shadow: 0px 0px 10px #000000;
}
.header .headerSwiper .swiper-wrapper .swiper-slide .slide .text-box h2 {
  font-size: 40px;
  margin: 50px 0;
  text-align: left;
}
.header .headerSwiper .swiper-wrapper .swiper-slide .slide .text-box p {
  font-size: 18px;
  margin: 50px 0;
  text-align: right;
}
.header .headerSwiper .swiper-wrapper .swiper-slide .s1 {
  background-image: url(../img/s1.jpg);
}
.header .headerSwiper .swiper-wrapper .swiper-slide .s2 {
  background-image: url(../img/water-drop-164046_1920.jpg);
}
.header .headerSwiper .swiper-wrapper .swiper-slide .s3 {
  background-image: url(../img/abstract-3061404_1920.jpg);
}
.header .headerSwiper .swiper-wrapper .swiper-slide .s4 {
  background-image: url(../img/research-5297028_1920.jpg);
}

/* info */
.info {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-bottom: 10vw;
  background-image: url(../img/bg9.jpg);
  background-size: cover;
  background-position: center;
}
.info .op-box {
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.8)
  );
}
.info .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .text-box {
  width: 80vw;
}
.info .text-box h2 {
  font-family: "Mont";
  font-size: 8vw;
  margin: 30px 0;
  color: #333333;
}
.info .text-box p {
  font-family: "Noto";
  font-size: 3vw;
  margin: 30px 0;
  color: #555555;
}
.info .img-box {
  display: inline-block;
  text-align: left;
}

/* technology section */
.tech {
  width: 100%;
  background-image: url(../img/bg4.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}
.tech .op-box {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), white 95%);
}
.tech .tech-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.tech h2 {
  width: 100%;
  font-family: "Mont";
  font-size: 60px;
  margin-bottom: 50px;
}
.tech .content {
  width: 70vw;
  height: 80vh;
}
.tech .content .tech-box {
  width: 70vw;
  position: absolute;
}
.tech .content .tech1 {
  opacity: 1;
}
.tech .content .tech2,
.tech .content .tech3,
.tech .content .tech4,
.tech .content .tech5,
.tech .content .tech6 {
  opacity: 0;
}
.tech .content .tech-img {
  width: 70vw;
  height: 30vh;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 5px white;
  margin-bottom: 5vh;
  background-position: center;
  background-size: cover;
}
.tech .content .img1 {
  background-image: url(../img/tech1.jpg);
}
.tech .content .img2 {
  background-image: url(../img/tech2.jpg);
}
.tech .content .img3 {
  background-image: url(../img/splashing-165192_1920.jpg);
}
.tech .content .img4 {
  background-image: url(../img/vaccine-5897391_1920.jpg);
}
.tech .content .img5 {
  background-image: url(../img/tech5.jpg);
}
.tech .content .img6 {
  background-image: url(../img/white-1772985_1920.jpg);
}
.tech .content .text-box h3 {
  font-family: "Mont";
  font-size: 60px;
  margin-bottom: 20px;
}
.tech .content .text-box p {
  font-size: 30px;
}
.tech .buttons {
  display: grid;
  width: 70vw;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: 50px;
  gap: 20px;
}
.tech .buttons button {
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: aliceblue;
  color: black;
  transition: 0.2s;
}
.tech .buttons .active {
  background-color: #4da0e4;
  color: white;
  box-shadow: 0px 0px 5px 3px white;
}
.tech .buttons button:hover {
  background-color: #8dbada;
  color: white;
  box-shadow: 0px 0px 5px 3px white;
}

.rnd {
  width: 100%;
  background-image: url(../img/bg5.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.rnd .op-box {
  width: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.9)
  );
}
.rnd h2 {
  font-size: 7vw;
  margin-bottom: 50px;
}
.rnd .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.rnd .content img {
  transition: 0.2s;
  width: 30%;
  height: 17vw;
}
.rnd .content:hover img {
  transform: scale(1.2);
}
.rnd .content .text-box {
  width: 60%;
  display: flex;
  /* font-family: "Cor"; */
  flex-direction: column;
  justify-content: center;
}
.rnd .content .text-box h3 {
  font-size: 5vw;
  margin-bottom: 20px;
}
.rnd .content .text-box p {
  font-size: 2vw;
}

.community h2 {
  font-family: "Mont";
  font-size: 8vw;
  margin-bottom: 50px;
}
.community .contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.community .content {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.2vw solid #353866;
  border-radius: 8px;
}
.community .content .num-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  background-color: #353866;
  color: white;
  border-radius: 8px;
  width: 8vw;
  height: 8vw;
  margin: 3vw 0;
}
.community .content .text-box {
  margin: 3vw 0;
}
.community .content .text-box h3 {
  font-size: 3vw;
}
.community .content .text-box p {
  font-size: 1.5vw;
}
.community .content:hover {
  background-color: #353866;
  color: white;
}
.community .content:hover .num-box {
  background-color: white;
  color: #000000;
}

footer {
  background-color: #353866;
}
footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .content .logo {
  cursor: pointer;
  color: white;
  font-family: "Cor";
  font-size: 50px;
}
footer .content .text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #8588be;
}
footer .content .text-box p {
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .tech .buttons {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .tech .content .text-box h3 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .tech .content .text-box p {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .nav .nav-menu .nav-box1 ul li {
    display: none;
  }
  .nav .nav-menu .nav-box1 > i {
    display: block;
  }
  .nav .nav-menu .nav-box2 .lists .nav-list {
    width: 23vw;
    font-size: 12px;
  }
  .nav .nav-menu > ul li {
    padding: 10px;
  }
  .nav .nav-popup .nav-box ul {
    width: 23vw;
  }
  .nav .nav-popup .nav-box ul li {
    font-size: 12px;
  }
  .tech .buttons {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .tech h2 {
    font-size: 30px;
  }
  .tech .content .text-box h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .tech .content .text-box p {
    font-size: 15px;
  }
  footer .content .logo {
    display: none;
  }
}
@media (max-width: 400px) {
  .nav .nav-menu .nav-box2 ul li {
    font-size: 12px;
  }
  .tech .buttons {
    gap: 10px;
  }
  .info .text-box h2 {
    font-size: 35px;
  }
  .info .text-box p {
    font-size: 15px;
  }
}
