* {margin: 0; padding: 0;}

.big {
    position: relative;
    width: 500px;   height: 300px;
}

.sm {
    position: absolute;
    width: 500px;   height: 300px;
    background-size: cover;
    background-position: center center;
}

.post {
    position: absolute;
    top: 40px;
    left: 60px;
    color: white;
    font-weight: bold;
}
.post>h3 {padding: 10px;}
.post>p {padding: 10px;}

.vietnam {
    background-image: url(../img/vietnam.jpg);
}

.singapore {
    display: none;
    background-image: url(../img/singapore.jpg);
}

.hongkong {
    display: none;
    background-image: url(../img/hongkong.webp);
}