.get_images {
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: black;
    width: 700px;
    padding: 20px
}

img {
    display: inline-block;
    margin: auto;
    width: 200px;
    height: 200px;
    border:5px solid blue;
}

.menu {
    display: block;
    width: 200px;
    height: 150px;
    margin: 10px auto;
    background-color: black;
    text-align: center;
}

.main_manu {
    display: inline-block;
    width: 150px;
    margin: 10px auto;
    background-color: white;
    text-align: center;
}

.blue {
    color: red;
}

ul {
    color: white;
    margin: 10px auto 10px 10px;
    text-align: left;
    list-style: none;
}

.first {
    color: yellow;
}

span {
    font-size: 20px;
}